VITE_IOTA_IS_SDK_API_KEY="XXXXXXXXXXXXXXXXXXXX"
VITE_IOTA_IS_SDK_GATEWAY_URL="XXXXXXXXXXXXXXXXXXXX"
VITE_DEVICE_MANAGEMENTE_API_REST_URL="XXXXXXXXXXXXXXXXXXXX"
VITE_SLU_STATUS_API_KEY ="XXXXXXXXXXXXXXXXXXXX"
VITE_SLU_GATEWAY_URL="XXXXXXXXXXXXXXXXXXXX"